[Desktop Entry]
Type=Application
Exec=su-to-root -X -c /usr/sbin/kernel-remover
Icon=kernel-remover
Name=kernel-remover
GenericName=delete old kernels
GenericName[de]=entferne alte Kernel
Categories=System;
Keywords=Kernel;remover;removal;
