Source: kernel-remover
Section: misc
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
XSBC-Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Vcs-Git: git://git.siduction.org/packages/siduction-repository/kernel-remover
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/kernel-remover.git 

Package: kernel-remover
Architecture: all
Depends: ${misc:Depends},
 gettext-base,
 dctrl-tools,
 ssft
Description: tool for the removal of the Linux kernel packages
 This tool handles the common tasks while handling testing kernels, the removal
 of deprecated kernel images, headers, depending packages, symlinks and 
 associated drivers. unpackaged cruft below /lib/modules/$KVERS will be nuked.
 .
 Neither the currently running-, nor the newest kernels will be offered for
 removal.

